@import '../../variables';

.tabScrollWrap {
  margin-top: 20px;
}

.tabs {
  position: relative;
  background: $darkpurple;
  color: $white;
  text-align: center;
  font-size: 10px;
  text-transform: uppercase;
  li [role=tablist] {
    border-bottom: none;
  }
  li,
  li [role=tab][aria-selected=true] {
    width: 33.3333%;
    padding: 10px 4px !important;
    margin: 0;
    height: auto;
    border: none !important;
    background: $yellow !important;
    border-bottom: none !important;
    color: $white !important;
    font-family: 'Anton', sans-serif !important;
    letter-spacing: 2px;
    border-radius: 0px !important;
  }
  li [role=tab]:focus:after,
  li [role=tab]:focus
  li [role=tab][aria-selected=true]:focus,
  li [role=tab][aria-selected=true]:focus:after {
    background: red !important;
  }
  img {
    width: 100%;
    max-width: 26px;
    display: block;
    margin: 4px auto auto auto;
  }
  span {
    font-size: 12px;
    text-align: center;
    width: 100%;
    margin-top: 2px;
    display: block;
  }
}

.weatherIcon {
  width: 100%;
  max-width: 54px;
}

.tabsPanel {
  font-size: 13px;
  line-height: 18px;
  background: $darkpurple;
  padding: 30px 15px;
  height: 200px;
  overflow: scroll;
  color: $white;
}

.tabRoot {
  ul {
    margin-bottom: 0px !important;
  }
}

.weatherIcons {
  lost-flex-container: row;
  margin-top: 70px;
  .weatherIconsCol {
    lost-column: 1/4 4 10px flex;
    img { width: 100%; }
  }
}

.tabCoverImg {
  width: 100%;
  max-width: 60px;
  float: left;
  margin: 0 10px 10px 0;
}
