@import '../variables';

.gridWrapTop {
  margin-bottom: 100px;
  lost-center: 1200px 40px flex;
  color: $white;
}

.gridWrap {
  lost-center: 1200px 40px flex;
  color: $white;
}

.gridRoot {
  padding-top: 250px;
  padding-bottom: 100px;
}

.gridWrapComponents {
  // padding-bottom: 1100px !important;
  padding-bottom: 1150px !important;
}

.gridHeader {
  lost-column: 3/8 0 40px flex;
  background: $blue;
  padding: 30px 50px;
  p {
    line-height: 1.25em;
  }
  a {
    color: $white;
    &:hover {
      // opacity: 0.8;
      text-shadow: 1px 1px $darkblue;
    }
  }
}

.headerBg {
  lost-column: 2/8 0 40px flex;
  lost-offset: 1/8;
  height: 100%;
  width: 100%;
  max-width: 300px;
  float: left;
  // background: $yellow;
  display: block;

  img {
    width: 100%;
    max-width: 200px;
    display: block;
    margin: auto;
  }
}

.gridOneThird {
  // set height to auto with content
  height: 200px;
  lost-column: 1/3 0 40px flex;
  background: $teal;
  margin: 20px auto;
}

.gridOneHalf {
  // set height to auto with content
  height: 200px;
  lost-column: 1/2 0 40px flex;
  background: $yellow;
  margin: 20px auto;
}

.gridOneFourth {
  height: 200px;
  lost-column: 1/4 0 40px flex;
  background: $red;
  margin: 20px auto;
}

.gridOneFourthWide {
  height: 200px;
  lost-column: 2/4 0 40px flex;
  background: $red;
  margin: 20px auto;
}

.gridOneFourthBottom {
  /* Additional class just for the demo */
  height: 200px;
  lost-column: 1/4 0 40px flex;
  background: $pink;
  margin: 20px auto;
}
