@import '../../variables';

.cardPhotoTallWrap {
  margin-top: 20px;
}

.cardPhotoTallImg {
  height: 250px;
  width: 100%;
  // background: orange;
  background-size: cover;
  background-position: center center;
}

.cardPhotoTallText {
  background: $teal;
  padding: 20px 15px 20px 20px;

  h2 {
    font-size: 18px;
  }
}
