@import '../../variables';

.timePicker {
  text-align: center;
  color: #FEFDFD;
  font-size: 18px;
  background: $darkpurple;
  border: none;
  padding: 10px 0px;
  width: 100%;
}

.timeIcon {
  position: absolute;
  margin-top: 8px;
  z-index: 1;
  margin-left: 10px;
  color: #E8EBF6;
}
