@import '../../variables';

.inputBannerRoot {
  margin-top: 30px;
  background: $lightpurple;
}

.inputBannerHeader {
  color: $darkblue;
  padding: 30px 15px;
  margin-bottom: -20px;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
}

.inputBannerSubmit {
  float: right;
  background: $teal;
  padding: 10px 20px 10px 20px;
  position: relative;
  top: -36px;
  color: $white;
  text-decoration: none;
  &:hover {
    background: $blue;
  }
}
