@import './variables';

h1, h2, h3 {
  font-family: 'Anton', sans-serif;
}
*, h4, h5, h6, p {
  font-family: 'Jura', sans-serif;
}

* {
	box-sizing: border-box;
}

*:focus {
  outline: none !important;
}

html, body {
  background: $darkblue;
}

body {
  margin: 0;
}

.linkWrap {
  margin-top: 30px;
}

.link {
  color: $white;
  text-decoration: underline;
  &:hover {
    opacity: 0.8;
  }
}

.linkBox {
  padding: 10px;
  background: $teal;
  color: $white;
  text-decoration: none;
  &:hover {
    background: $blue;
  }
}
