@import './variables';
@import './grid/grid';
@import './grid/gridBg';

.gridIcon {
  background: red;
}

.slideshowRoot {
  top: 50% !important;
  transform: translateY(-50%) !important;
  display: block !important;
  position: absolute !important;
  left: 0 !important;
  right: 0 !important;
  margin: auto !important;
}

.DownloadLink {
  padding: 10px;
  background: $teal;
  margin-top: 10px;
  &:hover {
    background: $blue;
  }
}

.slideshowWrapTop {
  margin-top: 22px !important;
  margin-bottom: 0 !important;
}

.slideshowHeaderBg {
  display: block !important;
  margin: auto !important;
}

@media (max-width: 900px) {
  .slideshowHeaderBg {
    display: none !important;
  }
}

.slideshowGridHeader {
  width: 100% !important;
  display: block !important;
  margin: auto !important;
  margin-left: 0 !important;
  padding-left: 0;
  p {
  margin-bottom: 26px;
  }
  a {
    color: $yellow;
  }
}

.slideshowGridWrap {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 28px;
  left: 0;
  right: 0;
  margin: auto;
}

.blueBg {
  background: $blue !important;
  padding: 30px;
  a {
    color: $yellow;
    font-weight: bold;
  }
  p {
    font-size: 13px;
    line-height: 18px;
  }
}

@media (max-width: 950px) {
  .blueBg {
    display: none;
  }
}

.slideshowDownload {
  background: $darkpurple !important;
  padding: 30px;
  overflow: auto;
  height: auto;
}

@media (max-width: 950px) {
  .slideshowDownload {
    lost-column: 1/1 0 20px flex !important;
  }
}

.downloadHalf {
  lost-column: 1/2 2 10px no-flex;
  text-align: center;
  color: $white;
  p {
    font-size: 13px;
    line-height: 17px;
  }
  h4 {
    margin-bottom: 10px;
  }
  img {
    width: 100%;
    max-width: 20px;
    margin-top: 5px;
  }
  .htmlIcon {
    max-width: 26px;
      margin-top: 0;
  }
  .cssIcon {
    max-width: 18px;
    margin-right: 2px;
    margin-top: 0;
  }
  .jsIcon {
    margin-top: 0;
  }
  .sassIcon {
    max-width: 24px;
  }
}
.downloadSm {
  display: none;
  text-align: center;
  a {
    color: $yellow;
  }
}
@media (max-width: 730px) {
  .downloadHalf {
    display: none;
  }
  .downloadSm {
    lost-column: 1/1 0 10px no-flex;
    display: block;
  }
}

.disableBtnWrap {
  opacity: 0.7;
  div a {
    cursor: not-allowed !important;
  }
}
