@import '../variables';

.navWrap {
  background: $beige;
  width: 100%;
  max-width: 300px;
  position: fixed;
  top: 30px;
  left: 30px;
  z-index: 11;
}
@media (max-width: 730px) {
  .navWrap {
    max-width: 100%;
    top: 0px;
    left: 0px;
  }
}

.menuLink {
  cursor: pointer;
}

.logoNav {
  width: 100%;
  max-width: 160px;
  margin: 10px 8px 8px 10px;
}
@media (max-width: 730px) {
  .logoNav {
    max-width: 110px;
    margin: 8px 8px 8px 14px;
  }
}

.logoMenu {
  float: right;
  position: relative;
  right: 0;
  padding: 26px;
}
@media (max-width: 730px) {
  .logoMenu {
    padding: 0px;
    max-width: 26px;
    width: 100%;
    top: 16px;
    right: 16px;
  }
}

.navMenuOpen {
  display: none;
  background: $darkpurple;
  width: 100%;
  width: 300px;
  position: fixed;
  top: 30px;
  left: 30px;
  z-index: 10;
  padding-top: 90px;
}
@media (max-width: 730px) {
  .navMenuOpen {
    width: 100%;
    left: 0;
    padding-top: 46px;
  }
}

.active {
  display: block;
}

.navList {
  color: white;
  list-style-type: none;
  margin-bottom: 40px;

  a {
    color: $white;
    text-decoration: none;
  }
  li {
    margin-bottom: 10px;
    span {
      color: $teal;
    }
  }
  a:hover, a:hover li span {
    color: $yellow;
  }
}
