@import '../../variables';

.accordionWrap {
  background: $darkpurple;
  padding: 14px;
  span {
    display: block;
    font-family: 'Anton', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px;
    cursor: pointer;
  }
}
